<ul class="nav justify-content-lg-end">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Regresar</a>
  </li>
</ul>

<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="assets/logofacebook.png" role="button"
      ><i class="fab fa-facebook-f"></i
      ></a>

            <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="assets/logoinstagram.png" role="button"
      ><i class="fab fa-instagram"></i
      ></a>

      <!-- Youtube -->
      <a class="btn btn-outline-light btn-floating m-1" href="assets/logoyoutube.png" role="button"
      ><i class="fab fa-youtube"></i
      ></a>

        </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-white">EcuadorMRG</a>
  </div>
  <!-- Copyright -->
</footer>
