<div id="carouselExampleDark" class="carousel carousel-dark slide margin auto"  data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="assets/sierra.jpeg" class="d-block w-100" alt="">
      <div class="carousel-caption d-none d-md-block">
        <h1 [style.color]="propertyBinding" [style.font-size.px]="FontSize">Sierra</h1>
        <p [style.color]="propertyBinding">Recorre sus hermosos paisajes</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="10000">
      <img src="assets/COSTA%20PNG.png" class="d-block w-100" alt="">
      <div class="carousel-caption d-none d-md-block">
        <h1 [style.color]="propertyBinding" [style.font-size.px]="FontSize">Costa</h1>
        <p [style.color]="propertyBinding">Una experiencia única</p>
        </div>
    </div>
    <div class="carousel-item" data-bs-interval="10000">
      <img src="assets/ORIENTEPNG.png" class="d-block w-100" alt="">
      <div class="carousel-caption d-none d-md-block">
        <h1 [style.color]="propertyBinding" [style.font-size.px]="FontSize">Oriente</h1>
        <p [style.color]="propertyBinding">La aventura de tu vida</p>
      </div>
    </div>
  <div class="carousel-item" data-bs-interval="10000">
    <img src="assets/galapagos.jpeg" class="d-block w-100" alt="">
    <div class="carousel-caption d-none d-md-block">
      <h1 [style.color]="propertyBinding" [style.font-size.px]="FontSize">Galápagos</h1>
      <p [style.color]="propertyBinding">Una mágica experiencia que nunca olvidarás</p>
    </div>
  </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
      <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
    </svg>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
      <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
    </svg>
  </button>
</div>

